body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://www.louisacoffee.co/upload/about/20160907_063954-image(1900x650-crop).jpg') no-repeat center center;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

[data-drink-pos="delete-drink"] {
  display: inline-block;
  text-align: center;
  color: #999;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}

[data-drink-pos="delete-drink"]:hover {
  color: #333;
}

.col-md-4 {
  overflow-y: auto;
  height: 540px;
}

.menu .card-body {
  cursor: pointer;
}

.menu .card:hover {
  box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.8);
}